.pageHeader {
    text-align: center;
    padding-bottom: 20px;
    padding: 5px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.pageHeader h1{
    margin: 0;
    color: white;
}

body{
    background-image: url("/images/latte.jpg");
    background-size: 100%;
}

/* Main containter for the coffee shops */
.shops {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 16px;
    /* border: black solid; */
    margin: auto;
    width: 65%;
}

/* Each box for individual coffee shops */
.list_shop {
    flex-basis: 25%;
    border: 1px dashed black;
    padding: 5px;
    margin: 5px -10px 5px 0px;
    /* background:burlywood; */
    background-image: url("/images/notecard.jpg");
    background-size: 165%;
}
.list_shop:hover {
    color: rgb(255, 255, 255);
    background-color: chocolate;
    background-image: none;
}
.list_shop:hover a {
    color: palegreen;
    background-image: none;
}

 
.shop_name {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2px;
}

/* Shop information below the shop name */
.shop_info {
    font-size: 20px;
    padding-left: 20px;
    line-height: 108%;
}
.shop_info a {
    color: orangered;
}
.shop_info a:hover {
    color: darkgreen;
}
.shop_info a:active {
    color: blue;
}




/* .pageHeader {
    text-align: center;
    padding-bottom: 20px;
    padding: 5px;
    margin: 10px;
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
}

.list__shop {
    flex-basis: 25%;
    border: 1px dashed black;
    padding: 1px;
    margin: 0px 4px 0px 4px;
} */
